/*PORTFOLIO*/ 
/*TRY TWO*/



/*HTML, BODY {
  height: 100%;
}

BODY {
  background: #082330;
  background-size: .12em 100%;
  font: 16em/1 Arial;
}

.text--line {
  font-size: .5em;
}

svg {
  position: absolute;
  width: 100%;
  height: 100%;
}

.text-copy {
  fill: none;
  stroke: white;
  stroke-dasharray: 7% 28%;
  stroke-width: 3px;
  -webkit-animation: stroke-offset 9s infinite linear;
          animation: stroke-offset 9s infinite linear;
}
.text-copy:nth-child(1) {
  stroke: #360745;
  stroke-dashoffset: 7%;
}
.text-copy:nth-child(2) {
  stroke: #D61C59;
  stroke-dashoffset: 14%;
}
.text-copy:nth-child(3) {
  stroke: #E7D84B;
  stroke-dashoffset: 21%;
}
.text-copy:nth-child(4) {
  stroke: #EFEAC5;
  stroke-dashoffset: 28%;
}
.text-copy:nth-child(5) {
  stroke: #1B8798;
  stroke-dashoffset: 35%;
}

@-webkit-keyframes stroke-offset {
  50% {
    stroke-dashoffset: 35%;
    stroke-dasharray: 0 87.5%;
  }
}

@keyframes stroke-offset {
  50% {
    stroke-dashoffset: 35%;
    stroke-dasharray: 0 87.5%;
  }*/


html{
    scroll-behavior: smooth;
}

body{ 
  background-color: #FFFFFF;
  font-family: 'Barlow', sans-serif;
  font-size: 18px;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

h1{
  font-size: 50px;
  line-height: 1;
  padding: 50px 0;
  text-align: center;
}

h2{
  font-size: 32px;
  line-height: 1.5;
}
@-webkit-keyframes logo_wiggle{
  from{
    width:25px;
    height:25px;
  }
  to{
    width:75px;
    height:100px;
  }


}

@keyframes logo_wiggle{
  from{
    width:25px;
    height:25px;
  }
  to{
    width:75px;
    height: 100px;
  }

} 

#logo{
  animation: logo_wiggle 3s;
  animation-iteration-count: 1;
  width: 75px;
  height:100px;

}


header{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;



/*  display: flex;
  flex-direction: row;
  align-items: right;
  justify-content: space-around;
  justify-content: space-between;*/
  background-color: #082520;
  color: white;
  align-self: center;
  background-image: url("../images/headerbackground.jpg")/*, linear-gradient(#337259 #082520)*/;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 3px solid #50C7C7;
  background-attachment: fixed;

/*  background-attachment: fixed; */
  /* Parallax effect */     
/*  background-position: center;  */
  /* Parallax effect */
/*  background-repeat: no-repeat; */
  /* Parallax effect */
/*  background-size: cover; */      
  /* Parallax effect */
/*  color: white;
  height: 400px; */               
  /* Parallax effect */

    background-color: #809886;
    
/*  the grid code is later... will this work if I do the grid-template-rows?
  is grid template rows the one I do? Do I have to make a container?*/
    /*grid-column: 1 / -1;*/

}
.logo{
  align-content: left;
  justify-content: space-between;
}

nav{
  flex-direction: row;
  padding: 15px;


}

.navbar{
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
}


.nav_links{
  display: inline-flex;
  flex-flow: row;
  justify-content: space-around;
  text-align: center;
  list-style: none;
 
  
  overflow: visible;
  justify-content: center;
  position: relative;
  
  
  transition: opacity 0ms 300ms;

  padding: 10px;
}
.header_text{
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.nav_items a{
  padding: 10px;
  flex-flow: row;
  color: white;
  align-items: right;
  align-self: right;
  justify-content: right;

  text-decoration: none;
}
.nav_items a:link{
  text-decoration: none;
}
.nav_items a:hover, a:focus{
    color: #50C7C7;
  text-decoration: underline;
  text-decoration: underline;
/*  -webkit-text-decoration-style: dotted;
          text-decoration-style: dotted;*/
}
.nav_items a:active{
  color:blue;
  text-decoration: underline;
}






.skip a{
  background: white;
  left: 0;
  padding: 6px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
  position-top: absolute;
  margin-top: -40px;

}
.skip a:focus{
  margin-top: 0px;
}
/*HEADER END **************************/

.about{
    min-height: 500px;
    display: flex;
    
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    align-content: center;
    justify-content: center;
  /*  align-self: flex-end;*/
    align-items: center;
    -webkit-transform: scaleX(1.12);
     transform: scaleX(1.12);
}
#headshot{
  justify-content: center;
  align-items: center;
}

.card{
  align-items: center;
  align-content: center;
  flex-basis: 400px;
  /*flex: 0 0 400px;*/
  margin: 1em;
  
  border:3px solid #288080;
  background: #fff;
  border-radius: 7px;
  padding: 0 0 50px 0;
}
.card img{
  width: 80%;
  border-radius: 80%;
  align-self: center;
  border: 1px solid #ddd;
  padding: 5px;
  align-content: center;
  align-items: center;
  margin-left:12px;

  
  
}
.card button{
  width: 90%;
  height: 40px;
  border: 0;
  margin-left:12px;
  border-radius: 7px;
  background: #288080;
  color: white;
  font-size: 1em;
}
.card h3{
  font-size: 1em;
  color: black;
  text-align: center;
}
.card{
  align-items: center;
}

.resume{
  align-self: center;
  justify-content: center;
}
/*About End **************************/

.resume{
    min-height: 500px;
    display: flex;
    
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    justify-content: center;
    border-top: 2px solid #288080;
  /*  align-self: flex-end;*/
    align-items: center;
    -webkit-transform: scaleX(1.12);
     transform: scaleX(1.12);

}
.resume_card{
    align-items: center;
    justify-content: center;
  flex-basis: 400px;
  /*flex: 0 0 400px;*/
  /*margin: 1em;*/
  
  
  background: #fff;
  border-radius: 7px;
  padding: 0 0 50px 0;

}
.resume button {
  width: 70%;
  height: 40px;
  border: 0;
  margin: 12px;
  border-radius: 7px;
  background:#1C957A;
  color: white;
  font-size: 1em;
  align-content: center;
  align-items: center;
}
.resume img{
  justify-content: center;
  align-self: center;

  width: 75%;
  height: 50%;
  

}
/*^^^^^******* ABOUT ME STYLES ********||||||||*/
.gallery{
/*  display: grid;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;*/
  display: flex;
  flex-wrap: wrap;
  height: auto;
  flex-direction: row;
  width: auto;
  padding: 10px;
  margin:15px;
  list-style: none;
  justify-content: space-between;
  box-sizing: border-box;
  justify-content: center;
  
  align-items: center;
      -webkit-transform: scaleX(1.12);
     transform: scaleX(1.12);
 



}

.gallery img{
/*  width: 170px;
  height: 190px;*/
  
  max-height: 300px;
  max-width: auto;

  vertical-align: middle;
  /*object-fit: cover;*/
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 15px;
  

}
.row1 , .row3, .row5, .row7{
  background-image: url("../images/header_w.jpg");
  background-size: cover;
  height:auto;
  width: auto;
  justify-content: center;
  align-content: center;
  vertical-align: center;
  margin:0;
  padding: 0;
}
/*.block{
  background-image: url("../images/header_w.jpg");
  background-size: cover;
  height:100%;
  width: 100%;
  justify-content: center;
  align-content: center;
  vertical-align: center;
  margin:0;
  padding: 0;
}*/

/*.gallery:nth-child(odd){
  background-image: url("images/aboutme/header_w.jpg");
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
/*  padding-top: 10px;
  padding-bottom: 10px;
  }*/
/*.row1::after, .row3::after, .row5::after, .row7::after{
  background-image: url("../images/header_w.jpg");
  background-color: transparent;
  background-size: cover;
  text-align: justify;
  opacity: .5;

}*/
.row1{
  /*flex: 33%;*/
  
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.row2{
  margin: 40px;
  padding:10px;
  width: 500px;
  height: auto;
  text-align: center;
  justify-content: center;
  align-self: center;
  align-content: center;
  border-right: 2px solid black;
  border-left: 2px solid black;
}


.row3 > img{
  background-size: cover;
  align-self: center;
  object-fit: cover;
  text-align: center;

}
  #img4{
    width: 80%;
    height:auto;
    max-width: 80%;
    max-height: auto;

  }
.row3{
  flex-direction: column;
  flex-wrap: wrap;
  margin: 20px;
  text-align: justify;
  vertical-align: center;
  object-fit: cover;
  /*text-shadow: 3px 2px black;*/
  text-align: center;
  align-items: center;
  justify-content: center;
  size: 3em;
  margin-top: 20px;
  margin-bottom: 20px;

}
.row4{
  flex-direction: row;
  align-self: center;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid #50C7C7;

}
.row5{
 flex-direction: row;
 margin-top: 20px;
 align-self: center;
 justify-content: space-around;
 align-items: center;
 border-bottom: 3px solid #50C7C7;
 margin-bottom: 20px;
}
.row6{
flex-direction: row;
align-self: center;
align-items: center;
 border-bottom: 3px solid #50C7C7;
 margin-bottom: 20px;
}
.row7{
  flex-direction: row;
  justify-content: center;
  flex-direction: row;
  align-self: center;
  align-items: center;
   border-bottom: 3px solid #50C7C7;
   

 
 margin-bottom: 20px;
}
/*PROJECTS PAGE




****************************************/

.projects{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;;
  justify-content: space-around;
  max-width: 100%;
}

.projects > h3{
  font-weight: bold;
  font-size: 2em;
}
.projects > p{
  font-weight: normal;
  font-size: 1em;
}


.pro1{
  display:flex;
  display: flex;
  
  flex-wrap: wrap;
  flex-flow: row;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 15px;
  margin: 15px;
  list-style: none;
  max-width: 100%;
  justify-content: space-around;
  
  -webkit-transform: scaleX(1.12);
   transform: scaleX(1.12);
}
.proj_head{
  display: inline-block;
  width: 100%;
  justify-content: center;
  text-align: center;
  background-color: #50C7C7;


  
}
.wf_left{
  flex-flow: row;
  max-width: 50%;
  overflow: hidden;
}
.proj2{
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  justify-content: space-around;
  max-width: 100%;
  list-style: none;
  box-sizing: border-box;
}
.and_img{
  display: inline-flex;
  flex-flow: row;
  justify-content: space-between;;
  justify-content: center;
  padding: 10px;

}
.and_img img{
  padding: 15px;
  max-width: 300px;
  max-height: 350px;
}
.and_text{
  flex-flow: row;
  list-style: none;
  justify-content: space-between;
  text-align: left;
  align-content: center;
  align-self: center;
}




/*************COURSES PAGE**************/
.courses{
/*  display: grid;
  grid-row-gap: 15px;
  grid-template-rows: 80px 1fr 1fr 1fr 1fr;
  grid-template-columns: auto auto;
  box-sizing: border-box;
*/
}

.c_header{
  grid-row: 1;
  align-content: center;
  text-align: center;
  grid-column: 1 /span 2; 
  background-image: url("../images/header_w.jpg")/*, linear-gradient(#337259 #082520)*/;
  opacity: .5;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 3px solid #50C7C7;
}
.c1{
  display: grid;
  grid-row-gap: 15px;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr auto;
  box-sizing: border-box;
  margin: 10%;
  padding-bottom: 25px;
  border-bottom: 5px solid #50C7C7;

}
#c1img{
  grid-row: 1 / -1;
  grid-column: 2 /span 1;
  padding-left: 15px;
}
.c1_text {
  grid-row: 1  / -1;
  grid-column: 1 / span 1;
  white-space: hidden;
  text-align: center;
  align-content: center;
  justify-content: center;
}
.c2{
  display: grid;
  grid-row-gap: 15px;
  grid-template-rows: 1fr auto;
  grid-template-columns: auto 1fr;
  box-sizing: border-box;
  padding-bottom: 25px;
  overflow-wrap: auto;
  margin: 10%;
  border-bottom: 5px solid #50C7C7;
  white-space: hidden;
  text-overflow: ellipsis;
  max-width: 100%

}
#c2img{
  grid-row: 1 / -1;
  grid-column: 1 /span 1;
  padding-right: 15px;
}
.c2_text {
  grid-row: 1  / -1;
  grid-column: 2 / span 1;
  
  word-wrap: wrap;
  
  text-align: center;
  align-content: center;
  justify-content: center;
  white-space: hidden;
  text-overflow: ellipsis;
  max-width: 100%
}

.c3{
  display: grid;
  grid-row-gap: 15px;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr auto;
  box-sizing: border-box;
  margin: 10%;
  padding-bottom: 25px;
  border-bottom: 5px solid #50C7C7;

}

#c3img{
  grid-row: 1 / -1;
  grid-column: 2 /span 1;
  padding-left: 15px;
}
.c3_text {
  grid-row: 1  / -1;
  grid-column: 1 / span 1;
  white-space: pre;
  text-align: center;
  align-content: center;
  justify-content: center;
}


.c4{
  display: grid;
  grid-row-gap: 15px;
  grid-template-rows: 1fr auto;
  grid-template-columns: auto 1fr;
  box-sizing: border-box;
  padding-bottom: 25px;
  overflow-wrap: auto;
  margin: 10%;
  border-bottom: 5px solid #50C7C7;
  white-space: hidden;
  text-overflow: ellipsis;
  max-width: 100%

}
#c4img{
  grid-row: 1 / -1;
  grid-column: 1 /span 1;
  padding-right: 15px;

}
.c4_text {
  grid-row: 1  / -1;
  grid-column: 2 / span 1;
  
  word-wrap: wrap;
  
  text-align: center;
  align-content: center;
  justify-content: center;
    white-space: hidden;
  text-overflow: ellipsis;
  max-width: 100%
}

.c5{
  display: grid;
  grid-row-gap: 15px;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr auto;
  box-sizing: border-box;
  margin: 10%;
  padding-bottom: 25px;
  border-bottom: 5px solid #50C7C7;

}

#c5img{
  grid-row: 1 / -1;
  grid-column: 2 /span 1;
  padding-left: 15px;
}
.c5_text {
  grid-row: 1  / -1;
  grid-column: 1 / span 1;
  white-space: hidden;
  text-align: center;
  align-content: center;
  justify-content: center;
}
#c6img{
  grid-row: 1 / -1;
  grid-column: 1 /span 1;
  padding-right: 15px;
}
.c6_text {
  grid-row: 1  / -1;
  grid-column: 2 / span 1;
  
  word-wrap: wrap;
  
  text-align: center;
  align-content: center;
  justify-content: center;
    white-space: hidden;
  text-overflow: ellipsis;
  max-width: 100%
}

.c6{
  display: grid;
  grid-row-gap: 15px;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr auto;
  box-sizing: border-box;
  margin: 10%;
  padding-bottom: 25px;
  border-bottom: 5px solid #50C7C7;

}
.c7{
  display: grid;
  grid-row-gap: 15px;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr auto;
  box-sizing: border-box;
  margin: 10%;
  padding-bottom: 25px;
  border-bottom: 5px solid #50C7C7;

}

#c7img{
  grid-row: 1 / -1;
  grid-column: 2 /span 1;
  padding-left: 15px;
}
.c7_text {
  grid-row: 1  / -1;
  grid-column: 1 / span 1;
  white-space: hidden;
  text-align: center;
  align-content: center;
  justify-content: center;
}

#c8img{
  grid-row: 1 / -1;
  grid-column: 1 /span 1;
  padding-right: 15px;
}
.c8_text {
  grid-row: 1  / -1;
  grid-column: 2 / span 1;
  
  word-wrap: wrap;
  
  text-align: center;
  align-content: center;
  justify-content: center;
    white-space: hidden;
  text-overflow: ellipsis;
  max-width: 100%
}

.c8{
  display: grid;
  grid-row-gap: 15px;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr auto;
  box-sizing: border-box;
  margin: 10%;
  padding-bottom: 25px;
  border-bottom: 5px solid #50C7C7;

}

/***************** CONTACT PG******************
*/
.contact{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: center;
  max-width: 100%;
  box-sizing: border-box;
}
.c_imgs{
  grid-row: 1;
  grid-column: 1 / span 2;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  -webkit-transform: scaleX(1.12);
    transform: scaleX(1.12);
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
  
  

}
.c_imgs > img{
  grid-row: 1;
  grid-column: 1 /span 2;
  justify-content: center;
  flex-direction: row;
  align-content: center;

  box-sizing: border-box;
}
.c_imgs > h3{
  justify-content: center;
  flex-direction: row;

  color: #50C7C7;
  text-align: center;
}
.form{
  align-content: center;
  grid-row: 2 / -1;
  grid-column: 1 / span 2;

}
fieldset{
  border-radius: 10px;
}
legend{

   text-align: center;
   
   font-variant-caps: small-caps; 
}
fieldset div{
   border: 2px solid black;
   margin: 2%;
   padding: 1%;
   border-radius: 5px;
}
input [type=reset], input[type=submit]
{
   border: 1px solid black;
   
   width: 120px;
   padding: 3%;
   margin-left: 10%;
   -webkit-box-sizing: content-box;
   -moz-box-sizing: content-box;
   box-sizing: content-box;
}
input, textarea, select{
   background-color:#FFFFFF;
}
input:focus{
   border: 2px solid black;
   background:#CCCCCC;
}
/*@import compass

.container{


  max-width: 400px
  margin: 0 auto
}
.signature{
  position: relative
  overflow: auto
  width: 100%
  height: 0
  padding-bottom: 55.30973451%
  svg
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
}
*/

footer{
  font-size: .8em;

  background-image: url("../images/header_w.jpg");
  width: 100%;
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  /*padding: 30px;*/
  
  padding: 10px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  
  
}
footer >p{
  font-size: .5em;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: bold;
  align-items: left;
}
.fnav{
  list-style-type: none;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  text-decoration-line: solid;
  color: black;

}


footer > ul{
  list-style-type: none;
  flex-direction: column;
  align-content: center;
  text-align: left;
  justify-content: space-between;
  text-decoration-line: solid;
  color:black;

}
.fimages{
  flex-flow: row wrap;
  flex-wrap: wrap;
  overflow: hidden;

  display:inline-flex;
  padding-right: 30px;

  
 justify-content: left;
 flex-direction: row;
 justify-content: space-around;
/* height: 50px;
 width: 50px;*/


}







@media all and (max-width: 850px){
  .navbar{
    justify-content: center;
    align-self: top;
    text-align: center;
    flex-flow: column;
    
    justify-content: center;
  }
  .navlinks{
    flex-flow: column;
    justify-content: space-around;
    text-align: center;
    list-style: none;
   
    align-self: top;
    overflow: visible;
    
    position: relative;
  }

  .courses{
    display: flex;
    flex-flow: column;
    flex-wrap: row wrap;
  }
  .c1{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
    .c2{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
    .c3{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
    .c4{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
    .c5{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
    .c6{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
    .c7{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
    .c8{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
.gallery{
  display: flex;
  flex-flow: column;
  flex-wrap: row wrap;
  align-items: center;
}
.row1, .row2, .row3, .row4, .row5, .row6, .row7{
  align-items: center;
  justify-content: center;
      -webkit-transform: scaleX(1.12);
     transform: scaleX(1.12);
}
.row1 > img{
  justify-content: center;
  align-items: center;
}

.block{
  justify-content: center;
  align-self: center;
}






}  /*End the media query*/

@media screen and (prefers-reduced-motion: reduce){
  html{
      scroll-behavior: auto; /* Removes scroll animation */
  }

}
