/*PORTFOLIO*/ 
/*TRY TWO*/



/*HTML, BODY {
  height: 100%;
}

BODY {
  background: #082330;
  background-size: .12em 100%;
  font: 16em/1 Arial;
}

.text--line {
  font-size: .5em;
}

svg {
  position: absolute;
  width: 100%;
  height: 100%;
}

.text-copy {
  fill: none;
  stroke: white;
  stroke-dasharray: 7% 28%;
  stroke-width: 3px;
  -webkit-animation: stroke-offset 9s infinite linear;
          animation: stroke-offset 9s infinite linear;
}
.text-copy:nth-child(1) {
  stroke: #360745;
  stroke-dashoffset: 7%;
}
.text-copy:nth-child(2) {
  stroke: #D61C59;
  stroke-dashoffset: 14%;
}
.text-copy:nth-child(3) {
  stroke: #E7D84B;
  stroke-dashoffset: 21%;
}
.text-copy:nth-child(4) {
  stroke: #EFEAC5;
  stroke-dashoffset: 28%;
}
.text-copy:nth-child(5) {
  stroke: #1B8798;
  stroke-dashoffset: 35%;
}

@-webkit-keyframes stroke-offset {
  50% {
    stroke-dashoffset: 35%;
    stroke-dasharray: 0 87.5%;
  }
}

@keyframes stroke-offset {
  50% {
    stroke-dashoffset: 35%;
    stroke-dasharray: 0 87.5%;
  }*/


html{
    scroll-behavior: smooth;
}

body{ 
  background-color: #FFFFFF;
  font-family: 'Barlow', sans-serif;
  font-size: 18px;
  /*max-width: 100%;*/
  
  padding: 0;
}

h1{
  font-size: 50px;
  line-height: 1;
  padding: 50px 0;
  text-align: center;
}

h2{
  font-size: 32px;
  line-height: 1.5;
}
@-webkit-keyframes logo_wiggle{
  from{
    width:25px;
    height:25px;
  }
  to{
    width:75px;
    height:100px;
  }


}

@keyframes logo_wiggle{
  from{
    width:25px;
    height:25px;
  }
  to{
    width:75px;
    height: 100px;
  }

} 
/*hr{
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 2px;
}*/


#logo{
  animation: logo_wiggle 3s;
  animation-iteration-count: 1;
  width: 75px;
  height:100px;


}


header{

  display: table-column-group;
  
  align-self: center;
  justify-content: center;
  /*z-index: 4;*/


/*  display: flex;
  flex-direction: row;
  align-items: right;
  justify-content: space-around;
  justify-content: space-between;*/
  background-color: #082520;
  color: white;
  
  background-image: url("../images/headerbackground.jpg")/*, linear-gradient(#337259 #082520)*/;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 3px solid #50C7C7;
  background-attachment: fixed;
  
  /*position: fixed;*/

/*  background-attachment: fixed; */
  /* Parallax effect */     
/*  background-position: center;  */
  /* Parallax effect */
/*  background-repeat: no-repeat; */
  /* Parallax effect */
/*  background-size: cover; */      
  /* Parallax effect */
/*  color: white;
  height: 400px; */               
  /* Parallax effect */

    background-color: #809886;
    /*flex-shrink: 0;*/
    
/*  the grid code is later... will this work if I do the grid-template-rows?
  is grid template rows the one I do? Do I have to make a container?*/
    /*grid-column: 1 / -1;*/

}
.main{
  height: auto;
  margin-top: 10px;
  flex-shrink: 1;
}
.logo{
  align-content: left;
  padding: 15px;
  justify-content: space-between;
}

.img_description{
  text-align: center;
  background: rgba(29, 106, 154, 0.72);
  position: absolute;
  visibility: hidden;
  color:#00804F;
  color: white;
  transition: opacity .2s, visibility .2s;
}

.logo:hover .img_description{
  visibility: visible;
  opacity: 1;
}

nav{

  flex-direction: row;
  padding: 30px;
  overflow: hidden;
  

  

}

.navbar{
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  font-weight: bolder;
  font-size: 48px;

    


/*  Sticky shit*/


}


.nav_links{
  display: inline-flex;
  flex-flow: row;
  justify-content: space-around;
  text-align: center;
  list-style: none;
 
  
  overflow: visible;
  justify-content: center;
  


  

  transition: opacity 0ms 300ms;

  padding: 10px;
}
.nav_links ul{ /*made this one up to try out sticky*/

        margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: linear-gradient( to bottom right, rgba(22, 85, 167, .6), rgba(31,212,168,.49));
  position: -webkit-sticky;
  position: sticky;
    top: 0;
    position: fixed;
}
.header_text{
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.nav_items a{
  padding: 10px;
  display: block;
  flex-flow: row;
  color: white;
  align-items: right;
  align-self: right;
  justify-content: right;

  text-decoration: none;
}
.nav_items a:link{

  text-decoration: none;
}
.nav_items a:hover, a:focus{
    color: #50C7C7;
  text-decoration: underline;
  
/*  -webkit-text-decoration-style: dotted;
          text-decoration-style: dotted;*/
}
a.active{
  color:#50C7C7;
  text-decoration: line-through solid;
  text-shadow: 2px 2px green;
}







/*.skip a{
  background: white;
  left: 0px;
  padding: 10px;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
  position: absolute;
  
  z-index: 1;
}
  



.skip a:focus{
  margin-top: 0px;
}*/



a.skip{
  background: white;

  left: 0px;
  padding: 10px;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
/*  z-index: 1;*/
  position: absolute;
 
/*  z-index: 1;*/
  border-radius: 3%;
}
a.skip:focus{
  top: 20px;
  margin-top: 0px;*
  -webkit-text-decoration-style: solid;
  text-decoration-style: solid;
}
*:focus{
  border: 2px solid black;
}
/*HEADER END **************************/

.index_home{
  display: flex;
  flex-flow: row;
  flex-wrap: row wrap;
  flex-wrap: all;
  justify-content: space-between;
  max-width: 100%;
}


.about{
    max-width: 35%; 
    padding-right: 30px;
    max-height: auto;
    
    display: flex;
    
    
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;

    margin: 10%;
    list-style: none;
    align-content: center;
    justify-content: center;
    flex-wrap: row;
    align-self: center;
    align-items: center;

    -webkit-transform: scaleX(1.12);
     transform: scaleX(1.12);
}
#headshot{
  flex-direction: column;
  align-self: center;
  justify-content: center;

  /*width: 100%;*/
      -webkit-transform: scaleX(1.12);
     transform: scaleX(1.12);
  display: block;
  /*max-width: 75%;*/
    width: 100%;

  
  border-radius: 80%;
  
  border: 1px solid #ddd;
  padding: 5px;
  align-content: center;
  max-width: 75%;
  border-radius: 80%;
  border: 1px solid #ddd;
  padding: 5px;
  margin: auto;
 

}

.card{
  object-fit: contain;
  align-self: flex-start;
  align-items: center;
  align-content: center;
  flex-basis: 400px;
  flex: 0 0 400px;
  margin: 1em;
  margin: 5%;
  
  
  border:3px solid #288080;
  background: #fff;
  border-radius: 7px;
  padding: 0 0 50px 0;
/*  DELETE ABOVE COMMENTS IF DOESN'T WORK BECAUSE THIS ONE WAS LAST CALLED*/
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 10px;

}


.card button{
  width: 90%;
  height: auto;
  border: 0;
  padding: 15px;
  margin-left:12px;
  border-radius: 7px;
  background: #288080;
  color: white;
  font-size: 1em;
}
.card h3{
  padding: 15px;
  padding-bottom: 5px;
  font-size: 1em;
  color: black;
  text-align: center;
}
.resume{
  order:1;
    max-width: auto - 10%;
    
    display: flex;
    
    flex-wrap: wrap;
    margin:auto;

    box-sizing: border-box;
    padding: 5%;
    
    list-style: none;
    justify-content: center;
    
    overflow: hidden;
    align-items: center;
    -webkit-transform: scaleX(1.12);
     transform: scaleX(1.12);

}
.resume_card{
  
  /*max-height: 80%;*/
  justify-content: center;
    align-items: center;
  flex-basis: 400px;
  
  margin: 4%;
  
  
  background: #fff;
  border-radius: 7px;
  padding: 0 0 50px 0;

}
.resume_card button {
  padding-top: 15px;
  order:2;
  width: 90%;
  height: auto;
  border: 0;
  padding: 15px;
  margin-left:auto;
  border-radius: 7px;
  background: #288080;
  color: white;
  font-size: 1em;
  
  align-content: center;
  justify-content: center;

  
}
.resume img{
  
  image-rendering: auto;
/*  max-height: 600px;
  max-width: 500px;*/
  border: 2px solid #216E6D;
  justify-content: center;
  align-content: center;
  width:90%;
  max-height: 700px;

  /*height: 60%;*/
}

/*^^^^^******* ABOUT ME STYLES ********||||||||
.gallery{
\ display: grid;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

  *******BEFORE THIS LINE THE LINES ABOVE WERE COMMMENTED OUT
  display: flex;
  flex-wrap: wrap;
  height: auto;
  flex-direction: row;
  width: auto;
  padding: 10px;
  margin:15px;
  list-style: none;
  justify-content: space-between;
  box-sizing: border-box;
  justify-content: center;
  
  align-items: center;
      -webkit-transform: scaleX(1.12);
     transform: scaleX(1.12);*/
 

.gallery{/* ADDED FOR STICKY*/
  flex-grow: 1;
  overflow-y: auto;
}



.gallery img{
/*  width: 170px;
  height: 190px;*/
  
  max-height: 300px;
  max-width: auto;

  vertical-align: middle;
  /*object-fit: cover;*/
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 15px;
  

}
.row1 , .row3, .row5, .row7{
  background-image: url("../images/header_w.jpg");
  background-size: cover;
  height:auto;
  width: auto;
  justify-content: center;
  align-content: center;
  vertical-align: center;
  margin:0;
  padding: 0;
}


/*.block{
  background-image: url("../images/header_w.jpg");
  background-size: cover;
  height:100%;
  width: 100%;
  justify-content: center;
  align-content: center;
  vertical-align: center;
  margin:0;
  padding: 0;
}*/

/*.gallery:nth-child(odd){
  background-image: url("images/aboutme/header_w.jpg");
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
/*  padding-top: 10px;
  padding-bottom: 10px;
  }*/
/*.row1::after, .row3::after, .row5::after, .row7::after{
  background-image: url("../images/header_w.jpg");
  background-color: transparent;
  background-size: cover;
  text-align: justify;
  opacity: .5;

}*/
.row1{
  /*flex: 33%;*/
  
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.row2{
  margin: 40px;
  padding:10px;
  width: 500px;
  height: auto;
  text-align: center;
  justify-content: center;
  align-self: center;
  align-content: center;
  border-right: 2px solid black;
  border-left: 2px solid black;
}


.row3 > img{
  background-size: cover;
  align-self: center;
  object-fit: cover;
  text-align: center;

}
  #img4{
    width: 80%;
    height:auto;
    max-width: 80%;
    max-height: auto;

  }
.row3{
  flex-direction: column;
  flex-wrap: wrap;
  margin: 20px;
  text-align: justify;
  vertical-align: center;
  object-fit: cover;
  /*text-shadow: 3px 2px black;*/
  text-align: center;
  align-items: center;
  justify-content: center;
  size: 3em;
  margin-top: 20px;
  margin-bottom: 20px;

}
.row4{
  flex-direction: row;
  align-self: center;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid #50C7C7;

}
.row5{
 flex-direction: row;
 margin-top: 20px;
 align-self: center;
 justify-content: space-around;
 align-items: center;
 border-bottom: 3px solid #50C7C7;
 margin-bottom: 20px;
}
.row6{
flex-direction: row;
align-self: center;
align-items: center;
 border-bottom: 3px solid #50C7C7;
 margin-bottom: 20px;
}
.row7{
  flex-direction: row;
  justify-content: center;
  flex-direction: row;
  align-self: center;
  align-items: center;
   border-bottom: 3px solid #50C7C7;
   

 
 margin-bottom: 20px;
}
/*PROJECTS PAGE




****************************************/

.projects{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;;
  justify-content: space-around;
  max-width: 100%;
}

.projects > h3{
  font-weight: bold;
  font-size: 2em;
}
.projects > p{
  font-weight: normal;
  font-size: 1em;
}


.pro1{
  display:flex;
  display: flex;
  
  flex-wrap: wrap;
  flex-flow: row;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 15px;
  margin: 15px;
  list-style: none;
  max-width: 100%;
  justify-content: space-around;
  
  -webkit-transform: scaleX(1.12);
   transform: scaleX(1.12);
}
.proj_head{
  display: inline-block;
  width: 100%;
  justify-content: center;
  text-align: center;
  background-color: #50C7C7;


  
}
.wf_left{
  flex-flow: row;
  max-width: 50%;
  overflow: hidden;
}
.wf_right{
  max-width: 50%;
}
.proj2{
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  justify-content: space-around;
  max-width: 100%;
  list-style: none;
  box-sizing: border-box;
}
.and_img{
  display: inline-flex;
  flex-flow: row;
  justify-content: space-between;;
  justify-content: center;
  padding: 10px;

}
.and_img img{
  padding: 15px;
  max-width: 300px;
  max-height: 350px;
}
.and_text{
  flex-flow: row;
  list-style: none;
  justify-content: space-between;
  text-align: left;
  align-content: center;
  align-self: center;
}




/*************COURSES PAGE**************/
.courses{
/*  display: grid;
  grid-row-gap: 15px;
  grid-template-rows: 80px 1fr 1fr 1fr 1fr;
  grid-template-columns: auto auto;
  box-sizing: border-box;
*/
}

.c_header{
  grid-row: 1;
  align-content: center;
  text-align: center;
  grid-column: 1 /span 2; 
  background-image: url("../images/header_w.jpg")/*, linear-gradient(#337259 #082520)*/;
  opacity: .5;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 3px solid #50C7C7;
}
.c1{
  display: grid;
  grid-row-gap: 15px;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr auto;
  box-sizing: border-box;
  margin: 10%;
  padding-bottom: 25px;
  border-bottom: 5px solid #50C7C7;

}
#c1img{
  grid-row: 1 / -1;
  grid-column: 2 /span 1;
  padding-left: 15px;
}
.c1_text {
  grid-row: 1  / -1;
  grid-column: 1 / span 1;
  white-space: hidden;
  text-align: center;
  align-content: center;
  justify-content: center;
}
.c2{
  display: grid;
  grid-row-gap: 15px;
  grid-template-rows: 1fr auto;
  grid-template-columns: auto 1fr;
  box-sizing: border-box;
  padding-bottom: 25px;
  overflow-wrap: auto;
  margin: 10%;
  border-bottom: 5px solid #50C7C7;
  white-space: hidden;
  text-overflow: ellipsis;
  max-width: 100%

}
#c2img{
  grid-row: 1 / -1;
  grid-column: 1 /span 1;
  padding-right: 15px;
}
.c2_text {
  grid-row: 1  / -1;
  grid-column: 2 / span 1;
  
  word-wrap: wrap;
  
  text-align: center;
  align-content: center;
  justify-content: center;
  white-space: hidden;
  text-overflow: ellipsis;
  max-width: 100%
}

.c3{
  display: grid;
  grid-row-gap: 15px;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr auto;
  box-sizing: border-box;
  margin: 10%;
  padding-bottom: 25px;
  border-bottom: 5px solid #50C7C7;

}

#c3img{
  grid-row: 1 / -1;
  grid-column: 2 /span 1;
  padding-left: 15px;
}
.c3_text {
  grid-row: 1  / -1;
  grid-column: 1 / span 1;
  white-space: pre;
  text-align: center;
  align-content: center;
  justify-content: center;
}


.c4{
  display: grid;
  grid-row-gap: 15px;
  grid-template-rows: 1fr auto;
  grid-template-columns: auto 1fr;
  box-sizing: border-box;
  padding-bottom: 25px;
  overflow-wrap: auto;
  margin: 10%;
  border-bottom: 5px solid #50C7C7;
  white-space: hidden;
  text-overflow: ellipsis;
  max-width: 100%

}
#c4img{
  grid-row: 1 / -1;
  grid-column: 1 /span 1;
  padding-right: 15px;

}
.c4_text {
  grid-row: 1  / -1;
  grid-column: 2 / span 1;
  
  word-wrap: wrap;
  
  text-align: center;
  align-content: center;
  justify-content: center;
    white-space: hidden;
  text-overflow: ellipsis;
  max-width: 100%
}

.c5{
  display: grid;
  grid-row-gap: 15px;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr auto;
  box-sizing: border-box;
  margin: 10%;
  padding-bottom: 25px;
  border-bottom: 5px solid #50C7C7;

}

#c5img{
  grid-row: 1 / -1;
  grid-column: 2 /span 1;
  padding-left: 15px;
}
.c5_text {
  grid-row: 1  / -1;
  grid-column: 1 / span 1;
  white-space: hidden;
  text-align: center;
  align-content: center;
  justify-content: center;
}
#c6img{
  grid-row: 1 / -1;
  grid-column: 1 /span 1;
  padding-right: 15px;
}
.c6_text {
  grid-row: 1  / -1;
  grid-column: 2 / span 1;
  
  word-wrap: wrap;
  
  text-align: center;
  align-content: center;
  justify-content: center;
    white-space: hidden;
  text-overflow: ellipsis;
  max-width: 100%
}

.c6{
  display: grid;
  grid-row-gap: 15px;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr auto;
  box-sizing: border-box;
  margin: 10%;
  padding-bottom: 25px;
  border-bottom: 5px solid #50C7C7;

}
.c7{
  display: grid;
  grid-row-gap: 15px;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr auto;
  box-sizing: border-box;
  margin: 10%;
  padding-bottom: 25px;
  border-bottom: 5px solid #50C7C7;

}

#c7img{
  grid-row: 1 / -1;
  grid-column: 2 /span 1;
  padding-left: 15px;
}
.c7_text {
  grid-row: 1  / -1;
  grid-column: 1 / span 1;
  white-space: hidden;
  text-align: center;
  align-content: center;
  justify-content: center;
}

#c8img{
  grid-row: 1 / -1;
  grid-column: 1 /span 1;
  padding-right: 15px;
}
.c8_text {
  grid-row: 1  / -1;
  grid-column: 2 / span 1;
  
  word-wrap: wrap;
  
  text-align: center;
  align-content: center;
  justify-content: center;
    white-space: hidden;
  text-overflow: ellipsis;
  max-width: 100%
}

.c8{
  display: grid;
  grid-row-gap: 15px;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr auto;
  box-sizing: border-box;
  margin: 10%;
  padding-bottom: 25px;
  border-bottom: 5px solid #50C7C7;

}

/***************** CONTACT PG******************

*/
.form{
  grid-template-rows: 1fr 1fr;
  grid-template-columns: : 300px 1fr 300px;
  max-height: auto;
}
#fname{
  grid-row: 1;
  grid-column: 1;
}
#subject{
  grid-row: 1;
  grid-column: 1 / span 2;

}
.contactpg{
  display: grid:
  background-color: transparent;
  width: auto;
  height: auto;
  overflow: hidden;
  perspective: 1000px;
  padding:15px;
  margin: auto;
    
  grid-template-rows: 1fr 1fr;
  grid-template-columns: : 300px 1fr 300px;
  max-height: auto;

}
.tcard .cinner .fcard .bcard{
  grid-row: 1;
  grid-column: 2 / span 1;
  justify-content: center;
  align-content: center;
  object-fit: contain;;
}
#phone_cont{
  order:1;

}
#email_cont{
  order:2;
}
.tcard {
  background-color: transparent;
  width: 300px;
  height: 400px;
  border: 1px solid #f1f1f1;

  perspective: 1000px; }

.cinner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 2px 4px 8px 0 rgba(5,163,131,1);
}


.tcard:hover .cinner {
  transform: rotateY(180deg);
}
.tcard h1{
  font-weight: bold;
  font-style: italic;
  line-height: .5;
  
}
.tcard a[href^="mailto"]{
color:#6FFFC0

}
.tcard a{
  font-weight: bold;
  line-height: 3;
}


.fcard, .bcard {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.fcard {
  background-image: linear-gradient(#4C76FF,white);
  color: black;
}

.bcard {

  background-color: #643ADA;
  color: white;
  transform: rotateY(180deg);
}
/*Contact spin card is done* NOW FORM*/

.container{
 

  border-radius: 3px;
  background-image: linear-gradient(to bottom right, rgba(22, 85, 167, 1), rgba(31,212,168,.85));
  text-transform: initial;
  padding: 20px;
   justify-content: center;
  align-content: center;
  padding: 15px;
}
button{
  align-self: center;

}

 *.container{
  
  width:100$;
  justify-content: center;
  align-content: center;
  padding: 15px;

  box-sizing: border-box;
  margin: 8%;
 /* grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr ;*/
 }

input[type=text], select, textarea{
                                   /*subjectbox*/
 grid-column: 1 / span 2; 
  width: 100%;
  font-size: 18px;
  padding: 12px;
  font-weight: bold;
  border: 2px dashed ##4CAF50;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  color:#004A00;

}
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border-style: groove;
  border-radius: 16px;
  cursor: pointer;
}
label{
  font-weight: bold;
  font-size-adjust: 26px;
  align-content: center;
  justify-content: center; 
  padding-left: 24px;
}
.pageclip-form{
  align-self: center;
  padding: 40px;

}

input[type=submit]:hover {
  background-color: #A82D2D;
}

fieldset{

  border-radius: 10px;
}
legend{

   text-align: center;
   
   font-variant-caps: small-caps; 
}
fieldset div{
   border: 2px solid black;
   margin: 2%;
   padding: 1%;
   border-radius: 5px;
}
.div2{
  grid-column: 2;
}
input [type=reset], input[type=submit]
{
   border: 1px solid black;
   
   width: 120px;
   padding: 3%;
   margin-left: 10%;
   -webkit-box-sizing: content-box;
   -moz-box-sizing: content-box;
   box-sizing: content-box;
}
input, textarea, select{
   background-color:#FFFFFF;
}
input:focus{
   border: 2px solid black;
   background:#CCCCCC;
}

.container:hover input ~ .checkmark{
  background-image: linear-gradient(to bottom right, rgba(173, 226, 146, 1), rgba(176, 146, 226, 1));
}


input[type=checkbox]{

  fill: }
/*@import compass

.container{


  max-width: 400px
  margin: 0 auto
}
.signature{
  position: relative
  overflow: auto
  width: 100%
  height: 0
  padding-bottom: 55.30973451%
  svg
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
}
*/

footer{
  font-size: 12px;
  font-weight: bolder;
  opacity: .8;
  background-image: linear-gradient(to bottom right, rgba(22, 85, 167, 1), rgba(31,212,168,.85));
  /*background-color:#139045;*/
  width: 100%;
  max-width: 100%;
  
  background-size: cover;
  color: black;
  /*padding: 30px;*/
  
  padding: 10px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  
  
}
footer >p{
  font-size: 10px;
  font-weight: bold;
  line-height: 1.5;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: bold;
  align-items: left;
  margin: auto;
}
.fnav{
  list-style-type: none;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  text-decoration-line: solid;
  color: black;
  font-weight: bold;
  line-height: 2;

}
.fnav_item a:hover{
  color: #80CFA1;
}
.fnav_item a:focus{
  color:#BAF7EE;
}
.fnav_item a:link{
  color:#BAF7EE;
}
.fnav_item .active{
  color:#80CFA1;
  text-decoration: underline;
}
.fnav_item li{
color: black;
font-weight: bold;
line-height: 2;
}
.fnav_item a{
  color: white;
}
.fnav li{
  flex-direction: column;
  display: inline-flex;flex;
  padding-right: 20px;
}

footer > ul{
  list-style-type: none;
  flex-direction: column;
  align-content: center;
  text-align: left;
  justify-content: space-between;
  text-decoration-line: solid;
  color:black;

}
.fimages{
  flex-flow: row wrap;
  flex-wrap: wrap;
  overflow: hidden;

  display:inline-flex;
  padding-right: 30px;

  
 justify-content: left;
 flex-direction: row;
 justify-content: space-around;
/* height: 50px;
 width: 50px;*/


}







@media all and (max-width: 850px){
  header{


    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
  }
.head{
  width:100%;
  height: auto;
  display: block;
  
}

.header_text{
  width:auto;
  height:100%;
  display: block;
  margin: 0 auto;
  
}


  .logo{
  height: 100%;
  display: table;
  float: left;
  }
  .logo img,a{
    height: 100%;
    display:table-cell;
    vertical-align: top;
  }

  .navbar{
    float:right;
    height: 100%
  }
  .nav_items{
    height:100%;
    display:table;
    float: left;
    padding: 0px 20px;
    
  }

  .navigation a:last-child{
    padding-right: 2px;

  }

  .nav_items a li{
    display:table-cell;
    vertical-align: middle;
    height: 100%;
  }
  .header_text{
    height: 100%;
    display: table;
    vertical-align: bottom;
    align-self: center; 
  }


/*  .nav_items a {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-self: right;
    text-align: center;

  }*/

  body{ 
  background-color: #FFFFFF;
  font-family: 'Barlow', sans-serif;
  font-size: 16px;
  /*max-width: 100%;*/
  margin: 10px;
  

}

h1{
  font-size: 32px;
  line-height: auto;
  padding: 15px 0;
  text-align: center;
  
}

h2{
  font-size: 24px;
  

/*.nav_items a{
  
  flex-flow: column;
  align-items: flex-end;
  justify-content: space-between;
  
  flex-wrap: wrap;
}*/



/*.about{
    min-height: 500px;
    display: flex;
    
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    padding: auto;
    margin: auto;
    list-style: none;
    align-content: center;
    justify-content: center;
    flex-wrap: row wrap;
    align-self: center;
    align-items: center;

    -webkit-transform: scaleX(1.12);
     transform: scaleX(1.12);
}
#headshot{
  justify-content: center;
  align-items: center;
      -webkit-transform: scaleX(1.12);
     transform: scaleX(1.12);
}

.card{
  align-items: center;
  align-content: center;
  flex-basis: 400px;
  flex: 0 0 400px;
  margin: 1em;
  margin: 5%;
  
  
  border:3px solid #288080;
  background: #fff;
  border-radius: 7px;
  padding: 0 0 50px 0;
}
.card img{

  width: 100%;
  display: block;
  max-width: 75%;

  
  border-radius: 80%;
  padding: auto;
  align-self: center;
  border: 1px solid #ddd;
  padding: 5px;
  align-content: center;
  align-items: center;
  margin: auto;
 
  
}
#headshot{
  flex-direction: column;
  align-self: center;
  justify-content: center;
  width: 100%;

}
.card button{
  width: 90%;
  height: 40px;
  border: 0;
  padding: 15px;
  margin-left:12px;
  border-radius: 7px;
  background: #288080;
  color: white;
  font-size: 1em;
}
.card h3{
  padding: 15px;
  padding-bottom: 5px;
  font-size: 1em;
  color: black;
  text-align: center;
}
.card{
  align-items: center;
  justify-content: center;
  margin: 25px;
  padding: 20px;
}




.resume{
    min-height: 500px;
    display: flex;
    
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    justify-content: center;
    border-top: 2px solid #288080;
 
    align-items: center;
    -webkit-transform: scaleX(1.12);
     transform: scaleX(1.12);

}
.resume_card{
    align-items: center;
  flex-basis: 400px;
  
  margin: 1em;
  
  
  background: #fff;
  border-radius: 7px;
  padding: 0 0 50px 0;

}
.resume button {
  width: 70%;
  height: 40px;
  border: 0;
  margin-left: 12px;
  border-radius: 7px;
  background:#1C957A;
  color: white;
  font-size: 1em;
  align-content: center;
  align-items: center;
}
.resume img{
  width: 75%;
  height: 50%;
  }*/
  /*About End **************************/
  .courses{
    display: flex;
    flex-flow: column;
    flex-wrap: row wrap;
  }
  .c1{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
    .c2{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
    .c3{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
    .c4{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
    .c5{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
    .c6{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
    .c7{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
    .c8{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
.gallery{
  /*display: flex;*/
  width: 100%;
  flex-flow: column;
  /*flex-wrap: row wrap;*/
  align-items: center;
  justify-content: center;
}

.gallery > img{
  align-items: center;
  justify-content: center;
}
.row1, .row2, .row3, .row4, .row5, .row6, .row7{
  align-items: center;
  justify-content: center;
      -webkit-transform: scaleX(1.12);
     transform: scaleX(1.12);
}
.row1 > img{
  justify-content: center;
  align-items: center;
  align-self: center;
  
}
#img1{
  align-items: center;
}

.block{
  justify-content: center;
  align-self: center;
}

.projects{
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.proj1{
  display:flex;
  flex-flow: column;
  justify-content: space-between;
}
.wf_left{
  flex-flow: column;
}

.wf_right{

  flex-flow: column;
}




}  /*End the media query*/

  @media all and (max-width: 1200px)(min-width: 851px){
    
  }


@media screen and (prefers-reduced-motion: reduce){
  html{
      scroll-behavior: auto; /* Removes scroll animation */
  }
/*  .skip a{
    visibility: hidden;
    position: absolute;

      a:focus{
      border: 2px solid black;
      border-color: black;
      }
    margin: 40px;
    -webkit-transition: none;
    transition:none;
  }*/
  

}
